<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
     <h1>Paragraph</h1>
     <ul>
         <% for (let i=1;i<6;i++){%>
             <li>
                 <%= i %>
             </li>
            <%}%>
     </ul>
     <% if (true) {%>
        <h1>Its True!🖖</h1>
    <%}else{%>
        <p>Its False!</p>
    <%}%>
    <script src=""></script>
</body>
</html>